.footer {
    background-color: #f4f7fe;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    color: #000000;
  }
  .footer-content span{
    font-size: 1.1rem;
  }


  
  