.section3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.section3-container-header {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: right;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3-container-left {
    flex: 1;
    margin-right: 20px;
}

.section3-container-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
}

.services {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 1rem;
}

.section3-container-icon {
    font-size: 2.4rem;

}

.text {
    font-size: 1.5rem;
    font-weight: 600;
}

.learn-more {
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 3px;
    color: #766acc;
}

.order-now-icon {
    font-size: 24px;
    margin-right: 10px;
    margin-left: 20px;
}

.order-now {
    font-size: 1.2rem;
    margin-left: 5rem;
    cursor: pointer;
    color: #766acc;
}

.section3-container-left img {
    width: 30rem;
}

.text-more-now {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.more-now {
    display: flex;
}

.services_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #efeded;
}


@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
        gap: 2rem;
    }
}